*~

# Build artifacts
Dockerfile-*
dist/
.cache/
coverage
.nyc_output

.project
.settings/
version.json

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

npm-debug.log
node_modules
/db/*.json
/db/*.db
/db/*.sqlite

.idea/

